@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --font-roboto: "Roboto", sans-serif;
}