.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.nav-item {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: grey;
  list-style: none;
  border-radius: 5px;
  font-size: .85rem;
  color: white;
}
.dropdown li{
    padding: 5px 10px;
    transition: all .2s ease-in-out;
}
.dropdown li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown li:hover{
    background: #fff;
    color: black;
}
.nav-item:hover .dropdown {
  display: block;
}
