.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
/* Glassmorphism Effect */
.glass-nav {
    background: rgba(31, 41, 55, 0.7); /* Translucent dark gray */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Hover & Active Animation */
.nav-item {
    position: relative;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #60a5fa; /* Blue highlight */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-item:hover::after, .nav-active::after {
    width: 80%;
}

.nav-item:hover {
    color: #60a5fa;
    transform: translateY(-2px);
}



.nav-item {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: grey;
  list-style: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}
.dropdown li{
    padding: .5rem 1rem;
    transition: all .2s ease-in-out;
}
.dropdown li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown li:hover{
    background: #fff;
    color: black;
}
.dropdown.active{
    display: block;
    border-bottom: 1px solid #60a5fa;
}
.article:nth-child(odd){
    opacity: 0.4;
    transform: translateY(10px) scale(0.9);
}
.article:nth-child(even){
    opacity: 0.4;
    transform: translateY(10px) scale(0.9);
}
